/* .Text {
    z-index: 90;
    display: flex;
    position: absolute;
    color: rgb(22, 21, 21);
    font-weight: bold;
    margin-top: 378px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: medium;
} */
.Christmas {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 100px;
    column-gap: 50px;
}
.mainImage{
    height: 60vh;
    width: 100%;
    overflow: hidden;
    /* border-radius: 15px; */
}
.Christmas img {
    /* border-radius: 5px; */
    height: 100%;
    width: 100%;
}
.firstPhoto:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.secondImage{
    /* width: 50%; */
    /* height: 100%; */
    overflow: hidden;
    border-radius: 15px;
}


.secondColumn{
    padding-top: 10px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.individuals{
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.individuals h3{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 20px;
}



