@import '../../css-config/mixins.scss';

.admin-page {
    width: 100%;
    .enquires, .contacts{
        width: 100%;
        text-align: center;
    }
    h2{
        margin: 0 auto;
        font-family: var(--hFont);
        font-size: 40px;
        text-decoration: underline;
        margin: 20px 0;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 40px;
        tr{
            th {
                background-color: rgba(0,0,0,0.1);
            }
            th, td {
                padding: 8px;
                text-align: left;
                border-bottom: 1px solid #ddd;
                padding: 10px 60px;
                text-align: justify;
            }
            &:hover {
                background-color: rgba(0,0,0,0.05);
                cursor: pointer;
            }
        }
    }
}
